header {
    background: #F1F2F3;
}
#logo {
    color: #1ad39a;
    font-weight: 900;
    padding:15px 0;
    display: block;
}

ul {
    list-style-type: none;
    float: right;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline;
    float: left;
}
ul li a {
    color: #3f4648;
    padding: 15px 30px;
    display: block;
    text-transform: uppercase;
    font-weight: 700;
}

ul li a:hover{
    background: #1ad39a;
}

